*{font-family:Arial}
h1{width:660px;margin:10px auto;font-size:23px;text-align:center;padding:10px}
p.alerta{border:1px solid gold;width:660px;margin:10px auto;padding:10px;text-align:center;font-family:Arial;font-size:13px}


form {width: 100px;font-size: 1.0em;color: #333;margin: auto;padding:0;float:left}
legend {background:#ccc;padding:10px;font-size:13px;font-weight:bold}
fieldset {border: 1px dotted #ccc;padding:10px}
form legend, form label {color: #333;}
table {font-size: 1.0em;}

fieldset p {padding: 4px 10px 4px;margin:0px}
input[type=text], input[type=password], input[type=number], textarea{border:1px solid #ccc;padding:5px;width:80%;font-size:12px}

input [type=checkbox] {height:26px}
form label.error, label.error {color: red;font-style: italic}
div.error { display: none; }

input:focus,textarea:focus { /*border: 1px dotted black;*/ }
input.error,textarea.error { /*border: 1px dotted red;*/ }
body { font-family:Lucida Sans, Arial, Helvetica, Sans-Serif; font-size:13px; margin:20px; float:left}
fieldset { border:none; width:400px;}
legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
label { display:block; margin:15px 0 5px;}
p {font-size:14px }
select {font-size:16px;width:80% }
.prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;  margin: 10px;}
.prev:hover, .next:hover { background-color:#000; text-decoration:none;}
.prev { float:left;}
.next { float:right;}
#opcional {display:none;}
#main { width:960px; margin: 0px auto; border:solid 1px #b2b3b5; -moz-border-radius:10px; padding:20px; background-color:#f6f6f6;}
#header { text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 20px 0; }
#steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
#steps li span {font-size:11px; display:block;}
#steps li.current { color:#000;}
#makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
#makeWizard:hover { background-color:#000;}
#mensaje{width:700px;margin:10px auto;text-align:center}
#cjornada {float: left;;width : 95%}
#escol {width:32.0em}
#procesos {width: 45.0em;}
#pedagogia {width: 45.0em}
#estrategias {width: 45.0em}
#acciones{width: 45.0em}
#asignaturas {width:55.0em}
#cexperiencia {width:40%}
#cexperienciaSede {width:40%}

